Repository aiidateam/aiida-testing: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, version-number

.pre-commit-config.yaml:

repos:

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.28.0
  hooks:
  - id: yapf
    language: system

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.740
  hooks:
  - id: mypy
    exclude: '^(doc/)|(examples/)'

- repo: local
  hooks:

  - id: prospector
    name: prospector
    entry: prospector
    types: [file, python]
    language: system
    exclude: '^(doc/)|(examples/)'

  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_testing/__init__.py
      )$
    pass_filenames: false

Add documentation structure
  .pre-commit-config.yaml
  .readthedocs.yml
  LICENSE.txt
  docs/.gitignore
  docs/Makefile
  docs/source/conf.py
  docs/source/developer_guide/index.rst
  docs/source/images/AiiDA_transparent_logo.png
  docs/source/index.rst
  docs/source/user_guide/export_cache.rst
  docs/source/user_guide/get_started.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/mock_code.rst
Due: prospector

Fix 'conf.py' location in RTD config file
  .readthedocs.yml
Due: none

Remove 'sphinxcontrib-contentui' extension
  docs/source/conf.py
Due: prospector

Remove aiida.sphinxext extension, as we don't use it here
  docs/source/conf.py
Due: prospector

Improve installation instructions.
  docs/source/developer_guide/index.rst
  docs/source/user_guide/get_started.rst
Due: none

Add documentation build to CI
  .github/workflows/ci.yml
Due: none

allowed for expressions in ingnore file lists, implements issue #25, also adjusted test to include this
  aiida_testing/mock_code/_cli.py
  tests/mock_code/test_diff.py
Due: prospector

changed implemenation
  aiida_testing/mock_code/_cli.py
Due: prospector

uncomplete work and started to implement export_cache
  aiida_testing/export_cache/_fixtures.py
Due: prospector

first pseudo code version of a fixture to run with cashing, I commit this, for teting on a different system and that philipp can join debugging
  aiida_testing/export_cache/_fixtures.py
Due: prospector

bug fixes of run_with_cache fixture and registration on module level
  aiida_testing/export_cache/__init__.py
  aiida_testing/export_cache/_fixtures.py
Due: prospector

further bug fixes of run_with_cache fixture implemented a hash creation for the builder
  aiida_testing/export_cache/_fixtures.py
Due: prospector

Automatically store inputs before hashing
  aiida_testing/export_cache/_fixtures.py
Due: prospector

moved generate diff input fixture to conftest, for usage in other tests
  tests/conftest.py
  tests/mock_code/test_diff.py
Due: prospector

splitted fixture with_cache into several, rekursion for nested inputs not working yet
  aiida_testing/export_cache/__init__.py
  aiida_testing/export_cache/_fixtures.py
  tests/conftest.py
Due: prospector

removed rekursion out of hash_process, we now unnest the dictionary before
  aiida_testing/export_cache/_fixtures.py
Due: prospector

added basic tests for export_cache, run with fixture is not working, since localhost and local code is always different
  tests/export_cache/calc_data/mock-diff-4b5ca93b23993979a24f795147487f1c/_scheduler-stderr.txt
  tests/export_cache/calc_data/mock-diff-4b5ca93b23993979a24f795147487f1c/_scheduler-stdout.txt
  tests/export_cache/calc_data/mock-diff-4b5ca93b23993979a24f795147487f1c/patch.diff
  tests/export_cache/test_export_cache.py
  tests/export_cache/test_export_cache/file1.txt
  tests/export_cache/test_export_cache/file2.txt
Due: prospector

small bugfixes in export_cache fixtures and import all feature
  aiida_testing/export_cache/_fixtures.py
Due: prospector

update readme
  README.md
Due: none

added two fixtures one for a with environment with caching and one to monkeypatch how computers and codes are included in the hash of aiida-core
  aiida_testing/export_cache/__init__.py
  aiida_testing/export_cache/_fixtures.py
  tests/conftest.py
  tests/export_cache/test_export_cache.py
Due: prospector

start documenting mock_code
  docs/source/user_guide/mock_code.rst
  setup.json
Due: version-number

added cache files, added further comments to the code
  aiida_testing/export_cache/_fixtures.py
  tests/export_cache/caches/DiffWorkChain-nodes-70cbbe03f7e940d0277a84448c81994e.tar.gz
  tests/export_cache/caches/test_workchain.tar.gz
  tests/export_cache/test_export_cache.py
Due: prospector

pre commit changes, prettify code
  aiida_testing/export_cache/__init__.py
  aiida_testing/export_cache/_fixtures.py
  tests/export_cache/test_export_cache.py
  tests/mock_code/test_diff.py
Due: prospector

revertet addition of session aiida fixtures, should not be part of this pull request
  tests/conftest.py
Due: prospector

further code prettification
  tests/conftest.py
Due: prospector

type def and ignore for mypy, reverted previous change, excluded aiida version from calcjob hash
  aiida_testing/export_cache/_fixtures.py
  tests/export_cache/caches/DiffWorkChain-nodes-70cbbe03f7e940d0277a84448c81994e.tar.gz
  tests/export_cache/caches/diff_workchain.tar.gz
  tests/export_cache/caches/test_workchain.tar.gz
  tests/export_cache/test_export_cache.py
Due: prospector

code changes for linter
  aiida_testing/export_cache/_fixtures.py
  tests/export_cache/test_export_cache.py
Due: prospector

figthing the linter for now, excluded Codes again from rehash
  aiida_testing/export_cache/_fixtures.py
  tests/conftest.py
  tests/export_cache/test_export_cache.py
  tests/mock_code/test_diff.py
Due: prospector

monkeypatched more aiidatype get_objects_to_hash since they included the version
  aiida_testing/export_cache/_fixtures.py
  tests/export_cache/caches/DiffWorkChain-nodes-70cbbe03f7e940d0277a84448c81994e.tar.gz
  tests/export_cache/caches/DiffWorkChain-nodes-b991d15b359a351a3cef4f6f7fe32a7a.tar.gz
  tests/export_cache/caches/diff_workchain.tar.gz
  tests/export_cache/caches/test_workchain.tar.gz
  tests/export_cache/test_export_cache.py
Due: prospector

switch to MIT license
  LICENSE.txt
  setup.json
Due: version-number

faster entry point loading for console script
  .pre-commit-config.yaml
  MANIFEST.in
  setup.py
  utils/fastentrypoints.py
Due: prospector

added processbuildernamespace as allowed type for input of certain functions and fixture in export_cache
  aiida_testing/export_cache/_fixtures.py
Due: prospector

removed os path operations, now with pathlib. included overwrite functionality for with_export_cache and run_with_cache
  aiida_testing/export_cache/_fixtures.py
  tests/export_cache/caches/DiffWorkChain-nodes-b991d15b359a351a3cef4f6f7fe32a7a.tar.gz
  tests/export_cache/caches/diff_workchain.tar.gz
  tests/export_cache/caches/test_workchain.tar.gz
Due: prospector

Fix abspath requirement in run_with_cache fixture
  aiida_testing/export_cache/_fixtures.py
Due: prospector

Fix double spacing
  aiida_testing/export_cache/_fixtures.py
Due: prospector

add cli options for config file management (#33)
  .github/workflows/ci.yml
  aiida_testing/__init__.py
  aiida_testing/_config.py
  aiida_testing/mock_code/__init__.py
  aiida_testing/mock_code/_cli.py
  aiida_testing/mock_code/_env_keys.py
  aiida_testing/mock_code/_fixtures.py
  docs/source/user_guide/mock_code.rst
  setup.json
  tests/mock_code/test_diff.py
Due: prospector, version-number

Modernize setup (#38)
  .ci/install_aiida_github.sh
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/source/developer_guide/index.rst
  pyproject.toml
  setup.cfg
  setup.json
  setup.py
  utils/fastentrypoints.py
  utils/validate_version_consistency.py
Due: prospector, version-number

Add 'packages = find:' to setup.cfg to fix non-editable installs
  setup.cfg
Due: none

Add non-editable install test to CI; test py39 instead of py38 (#41)
  .github/workflows/ci.yml
Due: none

drop prospector dependency (#46)
  .pre-commit-config.yaml
  .pylintrc
  aiida_testing/_config.py
  aiida_testing/mock_code/_fixtures.py
  docs/source/user_guide/mock_code.rst
  pyproject.toml
  setup.cfg
  setup.py
Due: prospector
